@charset "UTF-8";

table, .tab_content table{
	position: relative;
	min-width: 100%;
    margin: 0;
    padding: 0 40px;
    border-spacing: 0;
    border-right: hidden;
}
table tr th{
    padding: 9px 10px;
    font-weight: normal;
    background-color: #495776;
    color: #fff;
    border-left: 1px solid #495776;
    border-top: 1px solid #495776;
    font-size: 93%;
}
table tr td:first-child{
	
    border-left: 1px solid #dbdbdb;
    /*border-top: 1px solid #dbdbdb;*/
}
table tr td:last-child{
    border-right: 1px solid #dbdbdb;
}
table tr td{
	
	padding: 9px 10px;
    font-weight: normal;
    background-color: #ffffff;
    border-left: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    text-align:center;
    font-size: 93%;

}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}
table tr:last-child td{
	border-bottom: 1px solid #dbdbdb;
	/* border-right: 1px solid #dbdbdb; */
}