<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resource.AccountMapper">

	<!-- getAccount-->
	<select id="getAccount" parameterType="int" resultType="vo.AccountVO">
		SELECT * FROM ACCOUNTS WHERE U_ID = #{u_id} 
	</select>
	
	<!-- getAccountCnt-->
	<select id="getAccountCnt" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM ACCOUNTS 
	</select>
	
	<!-- getAccountPrice-->
	<select id="getAccountPrice" parameterType="int" resultType="int">
		SELECT NVL(SUM(PRICE), 0) AS PRICE FROM (SELECT P.COMPANY_ID, SUM(QUANTITY) * SUM(REPLACE(CURJUKA, ',', '')) AS "PRICE" FROM PURCHASE_LIST P INNER JOIN COMPANYS C ON(P.COMPANY_ID = C.COMPANY_ID) WHERE ACCOUNT_ID = #{account_id} GROUP BY P.COMPANY_ID) 
	</select>
	
	<!-- getAccountList-->
	<select id="getAccountList" resultType="vo.AccountVO">
		SELECT * FROM ACCOUNTS 
	</select>
	
	<!-- getU_id -->
	<select id="getU_id" parameterType="int" resultType="int">
		SELECT U_ID FROM ACCOUNTS WHERE ACCOUNT_ID = #{account_id} 
	</select>
	
	<!-- insertAccount-->
	<insert id="insertAccount"  parameterType="vo.AccountVO">
  		<selectKey resultType="int" keyProperty="account_id" order="BEFORE">
      		SELECT ACCOUNTS_SEQ.NEXTVAL FROM DUAL     
    	</selectKey>  
    		INSERT INTO ACCOUNTS 
    		VALUES (#{account_id}, 10000000, #{u_id})
	</insert>
	
	<!-- Merge 수정 -->
	<!--updateCredit  -->
	<update id="updateBuyCredit" parameterType="java.util.HashMap">
		UPDATE ACCOUNTS SET CREDIT = CREDIT - #{price} WHERE ACCOUNT_ID = #{account}
	</update>
	
	<!-- updateCredit -->
	<update id="updateSellCredit" parameterType="java.util.HashMap">
		UPDATE ACCOUNTS SET CREDIT = CREDIT + #{credit} WHERE ACCOUNT_ID = #{account_id}
	</update>
	
	<!-- deleteAccount -->
	<delete id="deleteAccount" parameterType="int">
		DELETE FROM ACCOUNTS WHERE ACCOUNT_ID = #{account_id}
	</delete>
	
</mapper>