<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resource.AccountMapper">

	<!-- getAccount-->
	<select id="getAccount" parameterType="int" resultType="vo.AccountVO">
		SELECT * FROM ACCOUNTS WHERE U_ID = #{u_id} 
	</select>
	
	<!-- insertAccount-->
	<insert id="insertAccount"  parameterType="vo.AccountVO">
  		<selectKey resultType="int" keyProperty="account_id" order="BEFORE">
      		SELECT ACCOUNTS_SEQ.NEXTVAL FROM DUAL     
    	</selectKey>  
    		INSERT INTO ACCOUNTS 
    		VALUES (#{account_id}, 10000000, #{u_id})
	</insert>
	
	<!-- updateCredit -->
	<update id="updateCredit" parameterType="java.util.HashMap">
		UPDATE ACCOUNTS SET CREDIT = CREDIT + #{credit} WHERE ACCOUNT_ID = #{account_id}
	</update>
	
</mapper>