<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">
	<!-- 리스트 전체 및 갯수 -->
	<select id="listAllBoard" resultType="vo.BoardVO">
		<![CDATA[select bid, writer, title, content, writedate, cnt,rnum from
		(select bid,writer,title,content,writedate,cnt,rownum rnum from 
		(select * from board order by bid desc))
		where rnum between #{page}*10-9 and #{page}*10]]>
	</select>
	 	<select id="boardCnt" resultType="int">
 		SELECT COUNT(*) FROM board
 	</select>
 	
 	<!-- 검색 결과 리스트 및 갯수 -->
 	<select id="searchInfo" parameterType = "java.util.HashMap" resultType="vo.BoardVO">
		<![CDATA[select bid, writer, title, content, writedate, cnt,rnum from
		(select bid,writer,title,content,writedate,cnt,rownum rnum from
		(select * from board where ${searchType} like '%'||#{key}||'%' order by bid desc))
		where rnum between #{page}*10-9 and #{page}*10]]>
	</select>
	<select id="boardSearchCnt" parameterType="java.util.HashMap" resultType="int">
		SELECT COUNT(*) FROM board where ${searchType} like '%'||#{key}||'%'
	</select>
	
	<!-- 작성자 클릭 결과 리스트 및 갯수 -->
		<select id="listWriter" resultType="vo.BoardVO" parameterType="java.util.HashMap">
		<![CDATA[select bid, writer, title, content, writedate, cnt,rnum from
		(select bid,writer,title,content,writedate,cnt,rownum rnum from
		(select * from board where writer=#{writer} order by bid desc)) 
		where rnum between #{page}*10-9 and #{page}*10]]>
	</select>	
	<select id="listWriterCnt" parameterType="java.util.HashMap" resultType="int">
		SELECT COUNT(*) FROM board where writer=#{writer}
	</select>
	
	<!-- 게시물 추가,수정,삭제 -->
	<insert id = "insertBoard" parameterType="vo.BoardVO">
		<selectKey resultType="_int" keyProperty="bid" order="BEFORE">
			select BOARD_SEQ.nextval from dual
		</selectKey>
		insert into board(bid, writer, title, content, writedate, cnt)
		values(#{bid},#{writer},#{title},#{content}, sysdate,0)
	</insert>
	<update id="updateBoard" parameterType="vo.BoardVO">
		update board set title=#{title},content=#{content} 
		where bid=#{bid}
	</update>
	<delete id="deleteBoard" parameterType="_int">
		delete from board where bid = #{bid}
	</delete>
 	
	<!-- 게시물 1개 보기 및 조회수 증가 -->
    <select id="listOneBoard" resultType ="vo.BoardVO" parameterType="_int">
		select * from board where bid=#{bid}
	</select>
	<update id="updateCount" parameterType="_int">
		update board set cnt = cnt+1 where bid = #{bid}
	</update>
</mapper>