<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CompanyMapper">
	<select id="listall" resultType ="vo.CompanyVO">
		select c.company_id,c.name,c.wcimg,s.curjuka from companys c, stockinfos s where s.company_id = c.company_id
	</select>
</mapper>