<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CompanyMapper">
	<select id="listall" resultType ="vo.CompanyVO">
		select company_id,name,wcimg,curjuka from companys
	</select>
	<update id="updateCurjuka" parameterType="java.util.HashMap">
		update companys set curjuka = #{curjuka} where company_id=#{company_id}
	</update>
</mapper>