<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resource.HistoryMapper">
	<!-- InsertHistory -->
	<insert id="insertBuyHistory"  parameterType="vo.PurchaseVO">
  		<selectKey resultType="int" keyProperty="list_id" order="BEFORE">
      		SELECT HISTORY_SEQ.NEXTVAL FROM DUAL     
    	</selectKey>  
    		INSERT INTO HISTORY 
    		VALUES (#{list_id}, #{account_id},'매수', #{company_id}, #{price}, #{quantity}, SYSDATE)
	</insert>

	<!--insertHistory-->
	<insert id="insertSellHistory"  parameterType="vo.HistoryVO">
  		<selectKey resultType="int" keyProperty="history_id" order="BEFORE">
      		SELECT HISTORY_SEQ.NEXTVAL FROM DUAL     
    	</selectKey>  
    		INSERT INTO HISTORY 
    		VALUES (#{history_id}, #{account_id}, #{status}, #{company_id}, #{price}, #{quantity}, SYSDATE)
	</insert>
	
	<!-- getHistoryCnt -->
	<select id="getHistoryCnt" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM HISTORY WHERE ACCOUNT_ID = #{account_id}
	</select>
	
	<!-- getHistoryList -->
	<select id="getHistoryList" parameterType="java.util.HashMap" resultType="vo.HistoryVO">
		SELECT S.* FROM(SELECT ROW_NUMBER() OVER(ORDER BY R.HISTORY_ID DESC) NUM, R.* FROM HISTORY R WHERE ACCOUNT_ID = #{account_id}) S WHERE NUM BETWEEN #{startIndex} AND #{startIndex}+9
	</select>
</mapper>