<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resource.LoginMapper">

	<!-- checkLogin-->
	<select id="checkLogin" parameterType="vo.UserVO" resultType="vo.UserVO">
		SELECT * FROM USERS WHERE ID = #{id} AND PASSWORD = #{password} 
	</select>
	
	<!-- getUserInfo -->
	<select id="getUserInfo" parameterType="string" resultType="vo.UserVO">
		SELECT * FROM USERS WHERE ID = #{id} 
	</select>
</mapper>