<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resource.RegisterMapper">

	<!--insert-->
	<insert id="insert"  parameterType="vo.UserVO">
  		<selectKey resultType="int" keyProperty="u_id" order="BEFORE">
      		SELECT USERS_SEQ.NEXTVAL FROM DUAL     
    	</selectKey>  
    		INSERT INTO USERS 
    		VALUES (#{u_id}, #{id}, #{password}, #{email}, #{nickname}, SYSDATE, 'user.png', NULL, #{status})
	</insert>
	
	<!-- id 중복 확인 -->
	<select id="checkId" parameterType="string" resultType="vo.UserVO">
		SELECT * FROM USERS WHERE ID = #{id}
	</select>
	
	<!--닉네임 중복 확인 -->
	<select id="checkNickname" parameterType="string" resultType="vo.UserVO">
		SELECT * FROM USERS WHERE NICKNAME = #{nickname}
	</select>
	
	<!--이메일 중복 확인-->
	<select id="checkEmail" parameterType="string" resultType="vo.UserVO">
		SELECT * FROM USERS WHERE EMAIL = #{email}
	</select>
	
	<!-- Update Password -->
	<update id="updatePassword" parameterType="java.util.HashMap">
		UPDATE USERS SET PASSWORD = #{password} WHERE ID = #{id}
	</update>
	
	<!-- Update Img -->
	<update id="updateImg" parameterType="java.util.HashMap">
		UPDATE USERS SET IMG = #{img} WHERE ID = #{id}
	</update>
	
</mapper>